<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
	<title>Eman's Site</title>
</head>
<body>
	<div class = "topdiv">
		<ul class = "mainnav">
			<li><a href="./addapost.html"><span><b>Add a Post</b></span></a></li>
			<li><a href="./index.html"><span><b>Home</b></span></a></li>
		</ul>
	</div>
	<canvas id="canvas">Canvas is not supported in your browser - sorry.</canvas>
	<div class = "center">
		<div class="h letter">H</div>
		<div class="a letter">A</div>
		<div class="p letter">P</div>
		<div class="p2 letter">P</div>
		<div class="y letter">Y</div>
	</div>

	<div class= "birthday">
		<div class="b letters">B</div>
		<div class="i letters">I</div>
		<div class="r letters">R</div>
		<div class="t letters">T</div>
		<div class="h letters">H</div>
		<div class="d letters">D</div>
		<div class="a letters">A</div>
		<div class="y letters">Y</div>
		<div class="! letters">!</div>
	</div>

	<div class="ml2">EMAN</div>
	<dic id="pics"></div>
	<script src="/javascripts/scripts.js"></script>
	
</body>
</html> 